.linkparent {
  display: flex;
  justify-content: space-evenly;
}

.home {
  color: black;
  font-weight: 600;
  padding-left: 60px;
  cursor: pointer;
}

.brand {
  color: black;
  font-weight: 600;
  cursor: pointer;
  font-size: 1.6rem;
}
